@charset "UTF-8";
* {
  font-family: "Mali", cursive;
  margin: 0;
}

h1 {
  font-size: 75px;
  font-style: italic;
  font-weight: 600;
}

h2 {
  font-size: 64px;
  font-style: italic;
  font-weight: 500;
}

h3 {
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
}

p {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
}

/*Navegación*/
.nav-principal ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
  margin-bottom: 75px;
}

.nav-principal a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
}

.nav-principal a:hover {
  transition: all 0.2s;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.36);
}

.search-input {
  display: flex;
  align-items: center;
  margin-left: 650px;
}

.search-input__bar {
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.36);
  min-height: 75px;
  min-width: 500px;
  padding: 10px 5px;
  font-size: 15px;
  border: none;
  background: #fff8DB;
  border-radius: 87px 0px 0px 87px;
}

.search-input__bar::placeholder, textarea {
  padding-left: 37px;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
}

.button--submit {
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.36);
  min-height: 65px;
  padding: 5px 50px;
  border: none;
  border-radius: 0px 87px 87px 0px;
  background: #fff8DB;
  transition: background-color 0.3s ease-in-out;
  width: 30px;
}

.search-input__bar:focus {
  padding-left: 37px;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  outline: none;
}

/*Botones*/
.button-white--big {
  background: white;
  border-radius: 25px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 44px;
  font-style: italic;
  font-weight: 700;
  padding: 18px;
  text-decoration: none;
}

.button-white--small {
  background: white;
  border-radius: 19px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 23px;
  font-style: italic;
  font-weight: 500;
  padding: 18px;
  text-decoration: none;
}

.button-white--x {
  background: white;
  border-radius: 42px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 55px;
  font-weight: 500;
  padding: 5px 40px;
  text-decoration: none;
}

.button-white--big:hover, .button-white--small:hover, .button-white--x:hover {
  background: #d6d6d6;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.404);
}

.button-white--big:active, .button-white--small:active, .button-white--x:hover {
  background: #c0c0c0;
  color: white;
  transform: scale(0.8);
}

.button-yellow--small {
  background: #feeb9c;
  border-radius: 20px;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 40px;
  text-decoration: none;
}

.button-yellow--small2 {
  background: #fff8db;
  border-radius: 20px;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 40px;
  text-decoration: none;
}

.button-yellow--small:hover, .button-yellow--small2:hover {
  background: #dfc764;
  transition: all 0.2s;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.404);
}

.button-yellow--small:active, .button-yellow--small2:active {
  background: #c6b058;
  color: white;
  transform: scale(0.8);
}

.contact__form label {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  padding: 15px;
}

.contact__input {
  background: #fff8DB;
  border-radius: 23px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  min-height: 72px;
  min-width: 400px;
  padding: 15px;
}

.contact__input:focus {
  outline: none;
}

/*Paleta Colores*/
.color-containers {
  border: 1px solid black;
  padding: 15px 10px;
  width: 5%;
}

.color1 {
  background: #c6b058;
}

.color2 {
  background: #dfc764;
}

.color3 {
  background: #feeb9c;
}

.color4 {
  background: rgba(223, 199, 100, 0.39);
}

.color5 {
  background: #fff8dB;
}

.color6 {
  background: black;
  color: white;
}

.color7 {
  background: #4e4e4e;
}

.color8 {
  background: #6a6a6a;
}

.color9 {
  background: #c0c0c0;
}

.color10 {
  background: #d6d6d6;
}

.color11 {
  background: white;
}

/*Footer*/
footer {
  padding: 0;
  align-items: center;
  background: #4E4E4E;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer__questions ul {
  align-items: center;
  font-size: 24px;
  list-style: none;
  text-decoration: none;
}

.footer__copyright {
  text-align: center;
}
.footer__copyright p {
  font-size: 20px;
}

.footer__social {
  margin-right: 50px;
  position: relative;
  text-align: center;
  top: -45px;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/Fondo.png);
  background-repeat: no-repeat;
}

.content {
  margin: 0 auto;
  width: 90%;
}

.principal-ad {
  margin-top: 150px;
  padding: 75px 0px 75px 75px;
  width: 60%;
  background: #FEEB9C;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
}

.principal-ad h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.principal-ad p {
  font-weight: bold;
  margin-bottom: -15px;
}

.principal-ad a {
  padding: 30px 40px;
  margin-top: 30px;
  margin-left: 575px;
}

.second-ad {
  padding-bottom: 150px;
}

.second-ad--box {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 150px;
  padding: 20px 0px 20px 20px;
  width: 75%;
  background: #FEEB9C;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

.second-ad--box a {
  position: absolute;
  left: 550px;
}

.product-card {
  margin-bottom: -320px;
}

.product-card--box {
  padding: 0px 0px 60px 0px;
  text-align: center;
  width: 40%;
  position: relative;
  background: #feeb9c;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
  margin-top: 150px;
}

.product-card--box img:hover {
  transition: all 1.2s;
  transform: scale(1.1);
}

.product-card--box a {
  position: absolute;
  top: 520px;
  left: 20px;
}

.product-card__small-box {
  position: absolute;
  width: 40%;
  padding: 40px;
  background: #fff8db;
  border-radius: 160px 0px 86px;
  bottom: 0;
  right: 0;
}

.product-card__small-box:hover {
  box-shadow: -5px -8px 7px rgba(0, 0, 0, 0.25);
  transition: all 1s;
}

.product-card__box--white {
  background-image: url(../img/blur-rectangle2.svg);
  background-repeat: no-repeat;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  text-align: center;
  padding: 50px;
  left: 750px;
  bottom: 600px;
  position: relative;
  width: 45%;
}

.product-card__box--white button {
  position: relative;
  top: 60px;
}

.product-card--especifications, ul {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
  list-style: none;
  padding-left: 50px;
  text-align: start;
}

.about-us {
  background-image: url(../img/blur-rectangle.svg);
  background-repeat: no-repeat;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  padding-bottom: 90px;
  padding-top: 90px;
}

.about-us__content {
  padding: 50px;
  display: block;
}

.about-us h3 {
  text-align: center;
}

.cart-page {
  width: 100vw;
}

.cart {
  width: 93%;
  /* display: flex; */
  margin: 0 auto;
  /* box-shadow: 10px 12px 7px -1px rgb(0 0 0 / 25%); */
  /* border-radius: 84px; */
  margin-top: 20px;
  position: relative;
  margin-bottom: 100px;
}

.cart-block {
  width: 100%;
  background-color: #FEEB9C;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
  min-height: 650px;
}

.cart-block__table {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cart-product-column {
  width: 35%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.cart-product-column__product {
  background: #FFF8DB;
  border-radius: 17px;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  padding: 18px;
  width: 100%;
}

.cart-price-column {
  width: 18%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.cart-price-column__price {
  background: #FFF8DB;
  border-radius: 17px;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  padding: 18px;
  width: 100%;
}

.cart-amount-column {
  width: 18%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.cart-amount-column__amount {
  background: #FFF8DB;
  border-radius: 17px;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  padding: 18px;
  width: 24%;
  display: flex;
  justify-content: space-between;
}

.cart-amount-column-amount__buttons {
  font-size: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-amount-column-amount-button {
  padding: 2px;
}

.cart-amount-column-amount-button-reverse {
  transform: rotate(180deg);
}

.cart-delete-column {
  width: 4%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 15px;
}

.cart-buttom-buttons {
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 95%;
  left: 6%;
}

.cart-buttom-buttons__button {
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: black;
  padding: 1%;
}

@media (max-width: 640px) {
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 21px;
  }
  .cart-block {
    min-height: 500px;
  }
  .cart-product-column__product {
    padding: 18px 0;
  }
  .cart-price-column__price {
    padding: 18px 0;
  }
  .cart-delete-column {
    gap: 65px;
  }
  .cart-delete-column__button {
    width: 18px;
  }
}
@media (min-width: 641px) and (max-width: 1100px) {
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 31px;
  }
  .cart-block {
    min-height: 600px;
  }
  .cart-product-column__product {
    padding: 10px;
  }
  .cart-price-column__price {
    padding: 10px;
  }
  .cart-delete-column {
    gap: 50px;
  }
  .cart-delete-column__button {
    width: 25px;
  }
}
.contact h2 {
  text-align: center;
  margin-top: 150px;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 150px 320px;
}

.contact__form button {
  margin-left: 450px;
  margin-top: 130px;
}

.contact__form label, .contact__form--p {
  display: block;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  padding: 15px;
}

.contact__input {
  background: #fff8DB;
  border-radius: 23px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 90px;
  min-height: 72px;
  min-width: 400px;
  padding: 15px;
}

.contact__input--email {
  background: #fff8DB;
  border-radius: 23px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 90px;
  min-height: 72px;
  padding: 15px;
  width: 1043px;
}

.contact__box-text {
  background: #fff8DB;
  border-radius: 25px;
  border: none;
  box-shadow: 10px 12px 7px -1px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: 20px;
  min-height: 268px;
  padding: 15px;
  width: 1043px;
}

.contact__input:focus, .contact__input--email:focus, .contact__box-text:focus {
  box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.404);
  transition: all 0.3s ease-in-out;
  outline: none;
}

.contact__input:hover, .contact__input--email:hover, .contact__input--email:hover, .contact__box-text:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.404);
}

.contact__input:active, .contact__input:valid, .contact__input--email:active, .contact__input--email:active, .contact__box-text:active, button:active {
  transform: scale(0.8);
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  width: 1448px;
  height: 518px;
  margin: 39px 0 39px 0;
}
.section-container img {
  width: 70%;
  height: 100%;
}

.products-info-container {
  display: flex;
  justify-content: space-around;
}

.products-topic {
  width: 666px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price-position {
  position: relative;
  top: 86px;
  left: 79px;
}

@media (max-width: 640px) {
  #wrapper {
    width: 1277px;
  }
  .products-info-container {
    display: block;
  }
  .section-container {
    height: 1147px;
    width: 814px;
  }
  .nav-principal ul {
    width: 1177px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .product-square__yellow {
    width: 785px;
    height: 422px;
  }
  footer {
    width: 1229px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  #wrapper {
    width: 1331px;
  }
  .nav-principal ul {
    width: 1180px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .products-info-container {
    width: 1302px;
  }
  .section-container {
    width: 1392px;
  }
  footer {
    width: 1263px;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  #wrapper {
    width: 1331px;
  }
  .nav-principal ul {
    width: 1180px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .products-info-container {
    width: 1302px;
  }
  .section-container {
    width: 1388px;
  }
  footer {
    width: 1263px;
  }
}
.product-square__yellow {
  width: 628px;
  height: 422px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #FEEB9C;
  border-radius: 36px;
  box-shadow: 10px 10px 12px #6a6a6a;
}

@media (max-width: 640px) {
  .product-square__yellow {
    width: 823px;
    height: 422px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .product-square__yellow {
    width: 525px;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  .product-square__yellow {
    width: 570px;
  }
}
.price-square {
  background-color: #fff8dB;
  width: 284px;
  height: 180px;
  border-top-left-radius: 400px 200px;
  border-bottom-right-radius: 36px;
  position: relative;
  top: -181px;
  left: 343px;
}

@media (max-width: 640px) {
  .price-square {
    top: -181px;
    left: 537px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .price-square {
    top: -179px;
    left: 240px;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  .price-square {
    left: 285px;
  }
}
.option-product {
  position: relative;
  top: -144px;
  left: 452px;
}

.section-topic {
  width: 1382px;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 356px;
  margin-top: 200px;
}

@media (max-width: 640px) {
  #wrapper {
    width: 1277px;
  }
  .products-info-container {
    display: block;
  }
  .section-container {
    height: 1004px;
    width: 870px;
  }
  .section-topic {
    width: 867px;
  }
  .nav-principal ul {
    width: 1177px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .option-product {
    left: 631px;
  }
  footer {
    width: 1229px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  #wrapper {
    width: 1331px;
  }
  .nav-principal ul {
    width: 1180px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .section-topic {
    width: 1228px;
  }
  .products-info-container {
    width: 1302px;
  }
  .section-container {
    width: 1392px;
  }
  .option-product {
    left: 378px;
  }
  footer {
    width: 1263px;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  #wrapper {
    width: 1331px;
  }
  .nav-principal ul {
    width: 1180px;
  }
  .search-input {
    display: flex;
    align-items: center;
    margin-left: 361px;
  }
  .section-topic {
    width: 1286px;
  }
  .products-info-container {
    width: 1302px;
  }
  .section-container {
    width: 1388px;
  }
  .option-product {
    left: 419px;
  }
  footer {
    width: 1263px;
  }
}
.product-square__beige {
  width: 628px;
  height: 422px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #FFF8DB;
  border-radius: 36px;
  box-shadow: 10px 10px 12px #6a6a6a;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .product-square__beige {
    width: 823px;
    height: 422px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .product-square__beige {
    width: 525px;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  .product-square__beige {
    width: 570px;
  }
}

/*# sourceMappingURL=styles.css.map */
