.about-us {
  background-image: url(../img/blur-rectangle.svg);
  background-repeat: no-repeat;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  padding-bottom: 90px;
  padding-top: 90px;
}

.about-us__content {
  padding: 50px;
  display: block;
}

.about-us h3 {
  text-align: center;
}