.product-square__yellow{
  width: 628px;
  height: 422px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #FEEB9C;
  border-radius: 36px;
  box-shadow: 10px 10px 12px #6a6a6a;
}