.price-square {
  background-color: #fff8dB;
  width: 284px;
  height: 180px;
  border-top-left-radius: 400px 200px;
  border-bottom-right-radius: 36px;
  position: relative;
  top: -181px;
  left: 343px;
}

@media (max-width: 640px) {
  .price-square {
    top: -181px;
    left: 499px;
  }
}

@media (min-width: 641px) and (max-width:960px) {
  .price-square {
    top: -179px;
    left: 240px;
  }

}

@media (min-width: 961px) and (max-width:1024px) {
  .price-square {
    top: -180px;
    left: 285px;
  }
}