.price-square {
  background-color: #fff8dB;
  width: 284px;
  height: 180px;
  border-top-left-radius: 400px 200px;
  border-bottom-right-radius: 36px;
  position: relative;
  top: -181px;
  left: 343px;
}